@model DeliveryCORE.Models.Insert.PedidoInsertViewModel

@{
    ViewData["Title"] = "Cadastrar";
}

<h1 style="margin-top: 80px; padding-top: 80px;">Faça seu pedido!</h1>
<img src="~/img/landing-banner-2.png" width="230" height="150" alt="Alternate Text" />
<img src="~/img/landing-banner-1.png" width="230" height="150" alt="Alternate Text" />

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cadastrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Restaurante" class="control-label">Selecione um Restaurante</label>
                <select class="form-control" id="Restaurante" name="Restaurante" asp-for="Restaurante">
                    @foreach (var item in ViewBag.Restaurantes)
                    {
                        <option value="@item.ID">@item.Nome</option>
                    }
                </select>
                <span asp-validation-for="Restaurante" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Produto.Restaurante" class="control-label">Selecione um Produto</label>
                <select class="form-control" id="ProdutoID" name="ProdutoID" asp-for="Produto.ID">
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Quantidade" class="control-label">Informe a quantidade</label>
                <input asp-for="Quantidade" type="number" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ValorTotal" class="control-label">Valor Total</label>
                <input asp-for="ValorTotal" class="form-control" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>

            @{
                string[] formaPagamento = Enum.GetNames(typeof(DTO.Enums.FormaPagamento));
            }
            <div class="form-group">
                <label asp-for="FormaPagamento" class="control-label"></label>
                <select class="form-control" id="FormaPagamento" name="FormaPagamento" asp-for="FormaPagamento">
                    @for (int i = 0; i < formaPagamento.Length; i++)
                    {
                        <option value="@i">@formaPagamento[i]</option>
                    }
                </select>
                <span asp-validation-for="FormaPagamento" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TaxaEntrega" /> @Html.DisplayNameFor(model => model.TaxaEntrega)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Efetuar Pedido" class="btn btn-primary" id="BotaoEnviar" name="BotaoEnviar" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar para o Índice</a>
</div>


@section Scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            $("#Restaurante").change(function () {
                debugger
                var id = $("select#Restaurante option").filter(":selected").val();
                $.ajax({
                    url: '@Url.Action("GetProdutosRestaurante","Produto")',
                    type: 'post',
                    data: {id: id} ,
                    success: function (result) {
                        for (var i = 0; i < result.length; i++) {
                            $("#ProdutoID").html();
                            $("#ProdutoID").append("<option value='" + result[i].ID + "'>" + result[i].Nome + "</option>")
                        }
                    },
                    error: function (result) {
                        alert('Erro na comunicação com o servidor');
                    }
                });
            });
        });

                    //$("#BotaoEnviar").click(function () {
                    //    var valorTotal = ("#Quantidade") * ("#Produto");
                    //    var taxa = 8;
                    //    if (valorTotal < 50) {
                    //        ("#TaxaEntrega") = true;
                    //        valorTotal += taxa;
                    //        alert("O VALOR TOTAL DO SEU PEDIDO É R$" + valorTotal)
                    //    }
                    //    else {
                    //        ("#TaxaEntrega") = false;
                    //        alert("O VALOR TOTAL DO SEU PEDIDO É R$" + valorTotal)
                    //    }
                    //},
    </script>
}