@model IEnumerable<DeliveryCORE.Models.Query.ClienteQueryViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuários Cadastrados</h1>

<p>
    <a asp-action="Cadastrar">Novo? Cadastre-se aqui!</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>CPF</th>
        </tr>
    </thead>

    <tbody style="font-size: small">
@foreach (var item in ViewBag.Clientes) {
        <tr>
            <td>@item.ID</td>
            <td>@item.Nome</td>
            <td>@item.DataNascimento</td>
            <td>@item.Email</td>
            <td>@item.Telefone</td>
            <td>@item.Cpf</td>
            <td>
                @Html.ActionLink("Atualizar", "Atualizar", new { id = item /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Excluir", "Excluir", new { id = item /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>