<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DeliveryCORE</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/css/aos.css" />
    <link rel="stylesheet" href="~/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

            <div class="container">


                <a class="navbar-brand" style="color: #ffffff" asp-area="" asp-controller="Home" asp-action="Index">
                    Delivery CORE
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <pre>@Html.ActionLink("  Restaurante  ", "Cadastrar", "Restaurante")<style>
                                                                                        a {
                                                                                            color: #FFFFFF;
                                                                                            font-size: larger;
                                                                                            text-align: center;
                                                                                            font-family: sans-serif;
                                                                                            font-size-adjust: none;
                                                                                            font-weight: 600
                                                                                        }

                                                                                            a:active {
                                                                                                color: #ff0000;
                                                                                            }

                                                                                            a:hover {
                                                                                                color: #000000;
                                                                                            }

                                                                                        :
</style></pre>
                <pre>@Html.ActionLink("  Cliente  ","Cadastrar", "Cliente")</pre>
                <pre>@Html.ActionLink("  Pedido  ", "Cadastrar", "Pedido")</pre>
                <pre>@Html.ActionLink("  Login  ", "Login", "Usuario")</pre>



            </div>

            


        </nav>
    </header>
    
        <body>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()

            </main>
        </div>



        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - DeliveryCORE - <a asp-area="" asp-controller="Pedido" asp-action="Restaurante">Privacy</a>
            </div>
        </footer>
        <script src="~/js/jquery-3.2.1.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery.waypoints.min.js" asp-append-version="true"></script>
        <script src="~/js/popper.min.js" asp-append-version="true"></script>
        <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/aos.js" asp-append-version="true"></script>
        <script src="~/js/magnific-popup-options.js" asp-append-version="true"></script>
        <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
        <script src="~/js/main.js" asp-append-version="true"></script>
        <script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>
        @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>*@
        @RenderSection("Scripts", required: false)
    </body>
</html>